
*.pyc

hw1/ClickPrediction.zip

*.mtx

*.csv

*.png

hw2/kmeans/bbc_data.zip

hw2/kmeans/bbc.centers

hw2/kmeans/bbc.classes

hw2/kmeans/bbc.terms

hw2/kmeans/sim_docdata.zip

*.jpeg

Cloudera*

*.zip

hw2/kdorosch_cse547_hw2/*
